# --- Django ---
DEBUG=True
SECRET_KEY=django-insecure-change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,.localhost
DATABASE_URL=postgres://pogo:pogo@localhost:5433/pogo
LANGUAGE_CODE=es
TIME_ZONE=UTC

# --- Email ---
EMAIL_URL=consolemail://

# --- Cache ---
CACHE_URL=locmem://
